@model ComicBookGallery.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
   
}

<!DOCTYPE html>


<div>
    <h1>@Model.SeriesTitle</h1>
    <h2>@Model.IssueNumber</h2>

    <h2>Description</h2>
    <p>@Html.Raw(Model.DescriptionHtml)</p>

    @if (Model.Artist.Length > 0)
    {
    <h2>Artists</h2>
    <div>
        <ul>
            
        @foreach (var artist in Model.Artist)
        {
            <li>@artist.Role: @artist.Name</li>
        }
        </ul>
    </div>
    }
</div>

